@import "../utils/mixins";
@import "../utils/variables";

.footer {
  margin-top: 3rem;
  background-color: black;
  opacity: 0.95;
  color: white;

  .footer-top {
    padding: 3rem 10%;
    @include flex(flex, row, center, space-between);
    .info {
      line-height: 2;
    }
  }
  .footer-bottom {
    padding: 10px 10%;
    text-align: center;
    border-top: 2px white solid;
  }
  .links a {
    text-decoration: none;
    color: white;
    &:hover {
        border-bottom: #ff9900 2px solid;
      }
  }
  .social p a{
    color:white;
    &:hover {
        color: #ff9900;
      }
  }
}
